<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9591721492031714"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <h2>Teachers List</h2>
        <ul>
            {% for teacher in teachers %}
                <li>
                    {{ teacher.name }} 
                    <a href="{{ url_for('reset_teacher_password', teacher_email=teacher.email) }}">Reset Password</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>