<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MYLYT0KVHT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MYLYT0KVHT');
</script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9591721492031714"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Details for {{ student_name }} in {{ subject_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Details for {{ student_name }} in {{ subject_name }}</h1>

    <h3>Grades</h3>
    <ul>
        {% for grade in grades %}
            <li>Grade: {{ grade.grade }} - Date: {{ grade.date }}</li>
        {% else %}
            <li>No grades recorded.</li>
        {% endfor %}
    </ul>

    {% if grades %}
        <h3>Mean: {{ (grades | map(attribute='grade') | list | sum) / (grades | length) | round(2) }}, 
        {{ 'passing' if (grades | map(attribute='grade') | list | sum) / (grades | length) > 5 else 'not passing' }}</h3>
    {% endif %}

    <h3>Absences</h3>
    <ul>
        {% for absence in absences %}
            <li>Date: {{ absence.date }} - Reason: {{ absence.reason }} - Motivated: {{ 'Yes' if absence.is_motivated else 'No' }}
                {% if not absence.is_motivated %}
                    <form action="{{ url_for('motivate_absence') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="absence_id" value="{{ absence.id }}">
                        <button type="submit" class="btn">Motivate</button>
                    </form>
                {% endif %}
            </li>
        {% else %}
            <li>No absences recorded.</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>