<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subjects for {{ student_email }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Subjects for {{ student_email }}</h1>

    <h3>Subjects</h3>
    <ul>
        {% for subject in subjects %}
            <li>
                <a href="{{ url_for('form_teacher_subject_details', student_email=student_email, subject_name=subject) }}">
                    {{ subject }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>