<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MYLYT0KVHT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MYLYT0KVHT');
</script>
<script async="async" data-cfasync="false" src="//pl25391289.profitablecpmrate.com/0ae54f70e34fd5bebd40e8ff13df180d/invoke.js"></script>
<div id="container-0ae54f70e34fd5bebd40e8ff13df180d"></div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9591721492031714"
     crossorigin="anonymous"></script>
    <meta name="google-site-verification" content="Cycq_S2biJZJEYDBn4hRjM9xWZ1coa1XFKC7XpL0tFI" />
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <select name="role" required>
                <option value="teacher">Teacher</option>
                <option value="form_teacher">Form Teacher</option>
                <option value="parent">Parent</option>
                <option value="student">Student</option>
                <option value="admin">Administrator</option>
            </select>
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p> <!-- Added link to register for convenience -->
    </div>  
</body>
</html>
