<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MYLYT0KVHT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MYLYT0KVHT');
</script>
<script async="async" data-cfasync="false" src="//pl25391289.profitablecpmrate.com/0ae54f70e34fd5bebd40e8ff13df180d/invoke.js"></script>
<div id="container-0ae54f70e34fd5bebd40e8ff13df180d"></div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9591721492031714"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Set New Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Set New Password</h2>
        <form action="/update-password" method="POST">
            <input type="password" name="new_password" placeholder="Enter new password" required>
            <input type="hidden" name="email" value="{{ email }}">
            <button type="submit" class="btn">Update Password</button>
        </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>